<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NetControlClient.Properties.RequestSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NetControlClient.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NetControlServer.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <NetControlClient.Properties.RequestSettings>
      <setting name="Servers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>DESKTOP-DNLCJ2N</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RefreshPeriod" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ScreenshotSize" serializeAs="String">
        <value>1280,720</value>
      </setting>
    </NetControlClient.Properties.RequestSettings>
    <NetControlClient.Properties.Settings>
      <setting name="Servers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
            <string>DESKTOP-DNLCJ2N</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="RefreshPeriod" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ScreenshotSize" serializeAs="String">
        <value>1280,720</value>
      </setting>
    </NetControlClient.Properties.Settings>
    <NetControlServer.Properties.Settings>
      <setting name="Servers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                         xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>DESKTOP-DNLCJ2N</string>
          </ArrayOfString>
        </value>
      </setting>
    </NetControlServer.Properties.Settings>
  </userSettings>
</configuration>